.bg-success {
    background-color: #2eb85c !important;
    color: #fff !important;
}

.config-view {
    background: #000;
    border: 1px solid #363131;
    padding: 22px;
    border-radius: 12px;
    font-family: monospace;
    color: #fff;
}

.config-header {
    color: #50fa7b;
}

.config-label {
    color: #00d4ff;
}

.config-value {
    color: #ffcc00;
}
